<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <div class="">
        {% if name %}
        <h1>{{name}} will become great django developer </h1> 
        {%else%}
        <h2>Hello world we are programming</h2> 
        {%endif%}
        <input type="checkbox">
        <select name="" id="">
            <option value="">Yes</option>
            <option value="">No</option>
        </select>
        <p>your indeed going to succed</p>
    </div>
</body>
</html>